<h1>Instagram</h1>
<%= link_to 'New post', new_pic_path %>
<% @pics.each do |pic| %>
    <h2 class="title">
      <%= link_to pic.title, pic %>
    </h2>
    <a><%= link_to "delete^", pic, method: :delete %></a>
    |
    <%= link_to "edit", edit_pic_path(pic) %>
<% end %>
